<div class="fixed-top modal-fullscreen bg-secondary bg-opacity-25">
  <div class="position-absolute top-50 start-50 translate-middle bg-white p-4 rounded-3">
    <p class="text-center">Supprimer la note suivante ?</p>
    <p style="height: 100px;overflow: hidden;"> consectetur adipiscing elit</p>
    <div class="text-center">
      <button class="btn btn-primary me-2">Supprimer</button>
      <button class="btn btn-danger" (click)='hideModalRemoveItem()'>Annuler</button>
    </div>
  </div>
</div>

