<div>
  <div class="container-xxl">
    <div class="row">
      <div class="col-3">
        <div class="list-group">
          <li class="list-group-item p-0">
            <a [routerLink]="['/notes', 'haute']" 
              [ngClass]="{'bg-info': this.router.url.includes('haute')}"
              class="d-block text-decoration-none 
              list-group-item-action px-2 py-2">{{ 'Haute' }}</a>
          </li>
          <li class="list-group-item p-0">
            <a [routerLink]="['/notes', 'elevee']" 
              [ngClass]="{'bg-info': this.router.url.includes('elevee')}"
              class="d-block text-decoration-none list-group-item-action px-2 
              py-2">{{ 'Elevée' }}</a>
          </li>
          <li class="list-group-item p-0">
            <a [routerLink]="['/notes', 'moyenne']" 
              [ngClass]="{'bg-info': this.router.url.includes('moyenne')}"
              class="d-block text-decoration-none list-group-item-action px-2 py-2">{{ 'Moyenne' }}</a>
          </li>
          <li class="list-group-item p-0">
            <a [routerLink]="['/notes', 'basse']" 
              [ngClass]="{'bg-info': this.router.url.includes('basse')}"
              class="d-block text-decoration-none list-group-item-action px-2 py-2">{{ 'Basse' }}</a>
          </li>
        </div>
      </div>
      <div class="col-9">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
